<!DOCTYPE html>
<html>
<head>
	<title>main.ejs</title>
</head>
<body>

	<h1>main page</h1>

	<h3>welcome, <%= id %> !!</h3>

	<p>Lorem ~~~</p>

	<div><a href="/logout">logout</a></div>

</body>
</html>